<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="intro-body">
    <header class="header">
      <div class="header__wrapper">
        <h1 class="header__title">
          Test Templates List
        </h1>
      </div>
    </header>
    <main class="main">
      <div class="main__wrapper">
        <div class="layouts">
          <div class="layouts__wrapper">
            <div class="layouts-grid">
              <div class="layout-card">
                <a href="./template-1.html" class="layout-card__link">
                  <img src="/assets/img/layout-1-img.png" alt="layout-1" class="layout-card__background">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
