.mntn-bg {
  background-color: #0b1d26;
  background-image: url("../img/mntn-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  position: relative;
}
.mntn-before-gradient {
  width: 100%;
  height: 1200px;
  background-size: cover;
  background-position: top;
  background: linear-gradient(360deg, rgba(11, 29, 38, 0) 21.88%, #0b1d26 135%);
  position: absolute;
  z-index: -999;
}
.mntn-after-gradient {
  position: absolute;
  width: 100%;
  height: 3400px;
  top: 1100px;
  background: linear-gradient(
    180deg,
    rgba(11, 29, 38, 0) 0.76%,
    rgba(11, 29, 38, 0.788) 8.52%,
    #0b1d26 13.89%
  );
  z-index: -999;
}
.mntn-main-content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.mntn-header__wrapper {
  margin: 0px 80px 198px;
  padding: 65px 0px 0px;
}
.mntn-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mntn-logo__link {
  font-family: "Chronicle Display Black";
  color: white;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.mntn-menu__list {
  display: flex;
}
.mntn-menu__item {
  margin: 0px 20px;
}
.mntn-menu__link {
  font-family: "Gilroy-Bold";
  color: white;
  font-size: 18px;
}
.mntn-account {
  display: flex;
  align-items: center;
}
.mntn-account__link {
  font-family: "Gilroy-Bold";
  color: white;
  font-size: 18px;
  margin-left: 7px;
}
.mntn-main__wrapper {
  margin: 0px 80px 200px;
}
.mntn-intro {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
.mntn-intro__wrapper {
  margin-bottom: 843px;
}
.mntn-intro-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 173px;
}
.mntn-intro-social__wrapper {
  position: fixed;
  left: 80px;
  top: 50%;
  transform: translate(0%, -50%);
}
.mntn-intro-social__followus {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.mntn-intro-content {
  max-width: 900px;
}
.mntn-intro-content {
  margin: 0px auto;
}
.mntn-intro-subtitle {
  display: flex;
  align-items: center;
}
.mntn-intro-subtitle__dah {
  width: 72px;
  height: 2px;
  background: #fbd784;
  margin: 0px 32px 32px 0px;
}
.mntn-intro-subtitle__text {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
  margin: 0px 0px 32px 0px;
}
.mntn-intro-title__text {
  font-family: "Chronicle Display Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 88px;
  line-height: 100px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 32px;
}
.mntn-intro-autoscroll {
  display: flex;
  align-items: center;
}
.mntn-intro-autoscroll__link {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 16px;
}
.mntn-intro-scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77px;
}
.mntn-intro-scroll__wrapper {
  position: fixed;
  right: 80px;
  top: 50%;
  transform: translate(0%, -50%);
}
.mntn-intro-scroll-steps-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mntn-intro-scroll-steps__item:not(:last-child) {
  margin-bottom: 40px;
}
.mntn-intro-scroll-steps__link {
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
}
.mntn-intro-scroll__slider {
  position: relative;
  height: 240px;
}
.mntn-intro-scroll__slider-box {
  position: absolute;
  width: 3px;
  height: 100%;
  background: #ffffff;
  opacity: 0.3;
  z-index: 1;
}
.mntn-intro-scroll__active {
  position: absolute;
  width: 3px;
  height: 60px;
  background: #ffffff;
  z-index: 2;
}
.mntn-article-content__wrapper {
  margin: 0px 149px;
  display: grid;
  grid-template-columns: minmax(auto, 1462px);
  grid-template-rows: repeat(3, minmax(auto, 720px));
  row-gap: 200px;
  justify-content: center;
}
.mntn-left-section {
  grid-column: span 1;
}
.mntn-left-section_wrapper {
  position: relative;
  padding-right: 25px;
}
.mntn-section-number {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 240px;
  line-height: 240px;
  color: #ffffff;
  opacity: 0.1;
}
.mntn-left-section__number {
  position: absolute;
  top: 38px;
}
.mntn-left-section__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mntn-section-text {
  max-width: 782px;
  height: 720px;
}
.mntn-section-text__wrapper {
  margin: 141px 0px 0px 150px;
}
.mntn-section-subtitle {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}
.mntn-section-subtitle__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.mntn-section-subtitle__dah {
  width: 72px;
  height: 2px;
  background: #fbd784;
  margin-right: 27px;
}
.mntn-section-title {
  font-family: "Chronicle Display Roman";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
  max-width: 555px;
}
.mntn-section-title__wrapper {
  margin-bottom: 27px;
}
.mntn-section-body {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.mntn-section-body__wrapper {
  margin-bottom: 27px;
}
.mntn-section-read-more__wrapper {
  display: flex;
  align-items: center;
}
.mntn-section-read-more__link {
  margin-right: 16px;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  color: #fbd784;
}
.mntn-right-section {
  grid-column: span 1;
}
.mntn-right-section__container {
  position: relative;
}
.mntn-right-section_wrapper {
  position: relative;
  padding-left: 25px;
}
.mntn-right-section__number {
  position: absolute;
  top: 38px;
  /* left: 15px; */
}
.mntn-right-section__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mntn-section-photo {
  min-width: 566px;
  min-height: 720px;
}
.mntn-section-photo__photo {
  width: 100%;
  height: 100%;
}
.mntn-footer__wrapper {
  margin: 0px 229px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mntn-footer-logo {
  font-family: "Chronicle Display Black";
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.mntn-footer-logo__wrapper {
  margin-bottom: 24px;
}
.mntn-footer-logo__link {
  color: #ffffff;
}
.mntn-footer-slogan {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  max-width: 303px;
}
.mntn-footer-slogan__wrapper {
  margin-bottom: 122px;
}
.mntn-footer-copyright {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.5;
}
.mntn-footer-nav {
  width: 566px;
}
.mntn-footer-nav__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.mntn-footer-nav__title-item {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fbd784;
  margin-bottom: 24px;
}
.mntn-footer-nav__item {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 16px;
}
.mntn-footer-nav__link {
  color: #ffffff;
}

@media screen and (max-width: 1800px) {
  .mntn-after-gradient {
    top: 950px;
  }
  .mntn-section-text__wrapper {
    margin: 141px 0 0 100px;
  }
}
@media screen and (max-width: 1600px) {
  .mntn-intro-title__text {
    font-size: 83px;
    line-height: 90px;
  }
  .mntn-after-gradient {
    top: 850px;
  }
  .mntn-section-text__wrapper {
    margin: 141px 0 0 70px;
  }
  .mntn-section-number {
    font-size: 200px;
    line-height: 200px;
  }
  .mntn-section-title {
    font-size: 54px;
    line-height: 67px;
  }
  .mntn-article-content__wrapper {
    row-gap: 100px;
  }
  .mntn-intro__wrapper {
    margin-bottom: 750px;
  }
  .mntn-section-photo {
    min-width: 500px;
    min-height: 636px;
  }
  .mntn-main__wrapper {
    margin: 0 80px 150px;
  }
  .mntn-footer-nav {
    width: 450px;
  }
}
@media screen and (max-width: 1536px) {
  .mntn-after-gradient {
    top: 750px;
  }
  .mntn-intro__wrapper {
    margin-bottom: 650px;
  }
  .mntn-section-photo {
    min-width: 450px;
    min-height: 572px;
  }
}
@media screen and (max-width: 1440px) {
  .mntn-header__wrapper {
    padding: 40px 0 0;
  }
  .mntn-logo__link {
    font-size: 28px;
  }
  .mntn-intro-content {
    max-width: 780px;
  }
  .mntn-menu__link {
    font-size: 16px;
  }
  .mntn-account__link {
    font-size: 16px;
  }
  .mntn-header__wrapper {
    margin: 0 80px 220px;
  }
  .mntn-section-title__wrapper {
    margin-bottom: 15px;
  }
  .mntn-intro__wrapper {
    margin-bottom: 550px;
  }
  .mntn-intro-subtitle__dah {
    width: 60px;
    margin: 0 20px 20px 0;
  }
  .mntn-intro-subtitle__text {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 20px;
  }
  .mntn-intro-title__text {
    font-size: 75px;
    line-height: 80px;
  }
  .mntn-section-body__wrapper {
    margin-bottom: 15px;
  }
  .mntn-section-subtitle__wrapper {
    margin-bottom: 10px;
  }
  .mntn-after-gradient {
    top: 650px;
  }
  .mntn-section-photo {
    min-width: 423px;
    min-height: 537px;
  }
  .mntn-intro-scroll-steps__link {
    font-size: 17px;
    line-height: 20px;
  }
  .mntn-intro-scroll-steps__item:not(:last-child) {
    margin-bottom: 35px;
  }
  .mntn-intro-scroll__slider {
    position: relative;
    height: 220px;
  }
  .mntn-section-text__wrapper {
    margin: 141px 0 0 40px;
  }
}
@media screen and (max-width: 1336px) {
  .mntn-header__wrapper {
    margin: 0 80px 210px;
  }
}
